.applicationType {
  .subelement {
    // background-color: #fdfafa;
    margin: 20px 10px;
    width: 100%;
    .subelement-span {
      position: absolute;
      top: 0;
      margin: 0 10px;
      .descriptionSpan {
        // //多行文本溢出
        width: 100%;
        text-overflow: ellipsis; //文本溢出显示省略号
        display: -webkit-box; //对象作为弹性伸缩盒子模型显示
        -webkit-box-orient: vertical; //设置或检索伸缩盒对象的子元素的排列方式
        -webkit-line-clamp: 2; //溢出省略的界限
        overflow: hidden; //设置隐藏溢出元素
      }

      .button {
        margin-left: 4px;
      }
      // 图标的样式
      .imgStyle {
        background-color: rgb(98, 0, 255);
        width: 153px;
        height: 153px;

      }
    }
  }
}
