.applicationMore {
    overflow: hidden; /*清除浮动 */
    margin-left: 20px;
    // width: 100%;
    height: 100%;

}
 
.icon {
    float: left;
    margin-right: 20px; /* 图像和内容之间的空间 */
    // width: 60px;
    // height: 20px;
}
 
.content {
    overflow: hidden; /* 清除浮动 */
}
 
.text {
    /* 文本的附加样式 */
    float: left;
    clear: both; /* 清除之前的浮动，确保这个元素在新的行 */
    font-weight: bold; //字体加粗
    
}
 
.openButton {
    /*按钮的附加样式*/
    float: left;
    margin-top: 95px;
    clear: both; /* 清除之前的浮动，确保这个元素在新的行 */
    width: 160px;
}
    
    
.gallery-container {
    height: 50%;
    margin-top: 20px;
    display: flex;
    overflow-x: auto; /* 使容器可以水平滚动 */
    background-color: #d0d0d0;
  }
   
  .gallery-container .img {
    flex: 0 0 auto; /* 不伸缩，固定宽度 */
    margin-right: 10px; /* 图片之间的间隔 */
    width: calc(50% - 10px);
  
  }
  .img {
    width: 50%;
    height: 100%;
  }
   
  /* 移除最后一个图片的右边距，保持最后一张图片紧贴容器右边 */
  .gallery-container img:last-child {
    margin-right: 0;
  }

