@font-face {
  font-family: 'FZXH1JW';
  src: url('./assets/font/FZXH1JW.TTF');
}
:root{
  --FZXH1JW: FZXH1JW;
}
html, body {
  margin: 0px;
  background-image: none;
  position: relative;
}

#root {
  padding: 0px;
}
ul {
  margin: 0;
}
ul {
  list-style: none;
}
