html, body {
  margin: 0px;
  background-image: none;
  position: relative;
  /* width: 1024px;
  height: 1366px; */
  /* left: 0px;
  margin-left: 0px;
  margin-right: 0px; */
}

#root {
  padding: 0px;
}
ul {
  margin: 0;
}
ul {
  list-style: none;
}